/* CSS written by Susan Sjoberg */
/* GLOBAL STYLES (MOBILE FIRST) */

body {
    background-color: lightgoldenrodyellow;
    display:grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 0.5;
}

header {
    background-color: plum;
    border: solid purple;
    text-align: center;
    padding: 1rem;
}

header p {
    font-family: cursive;
}

footer {
    color: blueviolet;
    font-weight: bolder;
}



section {
    border: solid purple;
    padding: 1rem;  
}

section a {
    text-decoration: none;
    text-transform: uppercase;
    background-color:cornflowerblue;
    padding: .5rem .5rem;
    border: groove;
    display: inline-block;
}

section a:hover {
    background-color:deeppink;
}

aside {
    color:black;
}

nav {
    padding: .25rem;
}

nav ul {
    justify-content: space-evenly;
    align-content: space-around;
    list-style: none;
}

nav a {
    background-color:cornflowerblue;
    text-decoration: none;
    font-weight: bold;
    padding: .5rem .5rem;
    border: groove crimson;
    text-transform:uppercase;
    display: inline-block;
}

nav a:hover {
    background-color:deeppink;
}



h2, h3 {
    margin-left:auto;
    margin-right:auto;
    padding: 1rem;
}


aside h3 {
    font-family: monospace;
    text-decoration: underline;
}


@media screen and (min-width:750px){
    body {
        background-color: yellow;
        grid-template-columns: 1fr 1fr;
    }
    .card-row div{
        display:flex;
        gap: 1rem;
        flex-wrap:wrap;
        padding: 1rem;
    }
    .card-row section {
        display:flex;
        gap: 1rem;
        flex-wrap:wrap;
        padding: 1rem;
    }
    header, footer {
        grid-column: 1/4;
    }
    nav {
        grid-column: 1/4;
    }
    nav ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
@media screen and (min-width:900px){
   body {
    background-color: orange;
    grid-template-columns: 1fr 1fr 1fr;
   }

}
